# Instruct PNPM to use a single pinned Node version
# (Cloudflare doesn't support Node 18 yet)
use-node-version=16.19.0
node-version=16.19.0

# Require correct PNPM version
engine-strict=true

# Always install pinned dependency versions
save-exact=true

# Treat workspace root same as other packages
include-workspace-root=true

# Install peer dependencies
auto-install-peers=true

# Forward compatibility
use-lockfile-v6=true

# Global workspace tools
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=typescript

# Typescript hoisted type definitions
public-hoist-pattern[]=@types/node
public-hoist-pattern[]=@cloudflare/worker-types
